{% extends "base.html" %}

{% load staticfiles %}

{% block extra_include %}
    <script src="{% static 'polaroid/js/src/cover.js' %}" type="text/javascript"></script>
    <script src="{% static 'polaroid/js/src/name.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class="my-galleries rm-container">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">my galleries (<a href="{% url 'create' %}">new</a>)</li>
      </ol>
    </nav>
    <div>
        {% for gal in galleries %}
        <a title="{% if gal.name != None and gal.name != "" %}{{ gal.name }}{% else %}{{ gal.id }}{% endif %}" data-id="{{ gal.id }}" href="{% url 'gallery' gal.id %}" class="{{ gal.id }}"><img src=""></a>
        {% endfor %}
    </div>
</div>

<div class="liked-galleries rm-container">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            galleries i kiffe<span class="glyphicon glyphicon-heart love"></span>
        </li>
      </ol>
    </nav>
    <div id="liked">
    </div>
</div>

{% endblock %}

{% block extra_script %}
    $(document).ready(function() {
        var liked = Cookies.get("liked").split(";");
        for (i = 0; i < liked.length; i++) {
            if (liked[i] != "" )
            $("#liked").append("<a title=\"" + liked[i] + "\" data-id=\"" + liked[i] + "\" href=\"/gl/" + liked[i] + "\" class=\"" + liked[i] + "\"><img src=\"\"></a>");
        }   
        activate_rm();
        $(".my-galleries a").each(function() {
            get_cover(this);
        });
        $(".liked-galleries a").each(function() {
            get_cover(this);
            get_name(this);
        });
    });
{% endblock %}

{% block footer %}
    {% if user.is_authenticated and galleries|length > 0 %}
    <!-- <a href="#" id="remove">delete a gallery</a> -->
    {% endif %}
{% endblock %}
