
@import "fonts.scss";

$hdr-size: 30px;
$ftr-size: 30px;
$hdr-size-big: 120px;
$margin: 5px;

a {
    color: #2ecc71;
}

a:hover {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue";
    &.carousel {
        background-color: #2d3436; 
    }
}


h1 {
    font-family: London, serif;
    color: white;
    font-size: 3.5em; 
    span {
        margin: -2px;
    }
    #t-p, #t-d {
        color: black;
    }
    #t-o {
        color: #e74c3c;
    }
    #t-l {
        color: #e67e22;
    }
    #t-a {
        color: #f39c12;
    }
    #t-r {
        color: #f1c40f;
    }
    #t-oo {
        color: #2ecc71;
    }
    #t-i {
        color: #3498db;
    }
}

body:not(.gallery) h1 {
    span {
        margin: -7px;
    }
}

body header {
    z-index: 10;
    #hdr-right {
        font-size: 1.3em;
        a {
            margin-left: $margin; 
            height: 100%;
            text-decoration: none;
        }
        #upload {
            &:hover {
                color: #f1c40f;
            }
        }
        #like {
            font-family: Love;
            color: black;
            &.liked, &:hover {
                color: #e74c3c;
            }
        }
        #crop {
            &.cropping, &:hover {
                color: #8e44ad;
            }
        }
        #remove {
            &.removing, &:hover {
                color: #f39c12; 
            }
        }
        #pin {
            &.pinning, &:hover {
                color: #2ecc71;
            }
        }
        #name {
            &.naming, &:hover {
                color: #34495e;
            }
        }
    }
}

body:not(.gallery) header {
     height: $hdr-size-big;
     position: absolute;
     top: 0px;
     left: 0px;
     right: 0px;
     margin-left: 5%;
     margin-right: 5%;
    #hdr-left {
        position: absolute;
        float: left;
        margin-left: 50px;
    }

    #hdr-center {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: $hdr-size-big;
        h1 {
            line-height: $hdr-size-big;
        }
        text-align: center;
    }

    #hdr-right {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 10;
        a {
            font-size: 0.6em;
        }
    }
}
//     #hdr-left {
//         height: $hdr-size-big;
//         h1 {
//             margin: 0px;
//             line-height: $hdr-size-big;
//             height: 100%;
//         }
//         text-align: center;
//     }
//     #hdr-right {
//         margin-top: 40px;
//         a {
//             color: black;
//         }
//     }
// }

body:not(.gallery) section {
    width: 90%;
    margin: auto;
    margin-top: $hdr-size-big;
}

body.gallery > header {
    /*
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    */
    height: $hdr-size;
    // background-color: rgba(55, 55, 55, 0.6);
    font-family: "London";

    border-style: solid;
    border-width: 0px 0px 0px 0px;
   
    #hdr-left {
        position: absolute;
        font-weight: bold;
        z-index: 2;
        float: left;
        margin-left: 10px; 
        height: $hdr-size;
        line-height: $hdr-size + $margin;
        color: black;
        input#naming {
            color: black;
            font-size: 0.9em;
            font-weight: bold;
			width: 300px;
            background-color: rgba(0,0,0,0);
            text-align: left;

    		border: none;
    		outline: none;

    		-webkit-box-shadow: none;
    		-moz-box-shadow: none;
    		box-shadow: none;
        }
    }

    #hdr-center {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: $hdr-size;
        text-align: center;

        h1 {
            font-size: 1em;
            margin: 0px;
            height: 100%;
            line-height: $hdr-size + $margin/2;
            #t-p, #t-d {
                // color: white;
            }
        }

    }

    #hdr-right {
        position: absolute;
        right: 0px;
        margin-right: 10px;
        height: $hdr-size;
        a {
            font-size: 0.6em;
            color: black;
            line-height: $hdr-size;
        }
    }
}

#gallery {
    padding-left: $margin;
    padding-right: $margin;
    margin-bottom: $margin;
}

img {
    float: left;
    margin: 2px;
}

#padding {
    display: inline-block;
    height: 0px;
    width: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
    overflow-y: hidden;
}

img.square {  
    object-fit: cover;
    margin: 0px;
}

#upload-form {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.dz-preview {
    display: none;
}

.love {
    color: #e74c3c;
}

h2 {
    color: #404040;
}

.my-galleries, .liked-galleries {
    display: block;
    margin-bottom: 50px;
    min-height: 200px;
    & > div {
        display: block;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }
    }
    a.plus {
        color: black;
    }
    img, .plus {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        object-fit: cover;
        margin: 10px;
        vertical-align: middle;
        font-size: 4em;
        line-height: 85px;
        background-color: #e9ecef;
        &:hover {
        }
    }
}

.rm-container.action-in-progress {
    a:hover {
        opacity: 0.4;
        img {
            opacity: 0.4;
        }
    }
}

    @-webkit-keyframes appear {
            0%, 50%, 100% {opacity: 1;}
            25%, 75% {opacity: 0;}
    }
    @keyframes appear {
            0%, 50%, 100% {opacity: 1;}
            25%, 75% {opacity: 0;}
    }

#alert {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    z-index: -1;
    opacity: 0;
    .alert-txt {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px; 
        right: 0px;
        height: 200px; 
        margin: auto;     
        font-size: 10em;
        text-align: center;
        color: white;
    }
    -webkit-transition: opacity 0.5s;
    &.active {
        opacity: 1;
    }
    &.pinned {
        z-index: 99;
        background-color: #2ecc71; 
        .alert-txt:before {
            content: "PINNED AS COVER!";
        }
    }
    &.cropped {
        z-index: 99; 
        background-color: #8e44ad;
        .alert-txt:before {
            content: "PICTURE CROPPED";
        }
    }
    &.named {
        z-index: 99;
        background-color: #34495e;
        .alert-txt:before {
            content: "GALLERY RENAMED!";
        }
    }
    &.removed {
        z-index: 99;
        background-color: rgb(243, 156, 18); 
        .alert-txt:before {
            content: "PICTURE REMOVED!";
        }
    }
    &.liked {
        z-index: 99;
        background-color: #e74c3c;
        .alert-txt:before {
            font-family: 'Icons';
            content: "\e077";
        }
        .alert-txt:after {
            content: " IT!";
        }
    }
    &.unliked {
        z-index: 99;
        background-color: #e74c3c;
        .alert-txt:before {
            content: "UN-";
        }
        .alert-txt:after {
            font-family: 'Icons';
            content: "\e077";
        }
    }
}

body footer {
    position: absolute;
    height: $ftr-size;
    bottom: 0px;
    left: 5%;
    right: 5%;
    text-align: right;
    font-size: 0.8em;
    a {
        margin-left: 30px;  
    }
}

body.gallery footer {
    display: none;
}

form {
    text-align: center;
    input {
        margin-top: 10px;
        width: 300px;
        margin-bottom: 10px;
        border-style: solid;
        border-color: black;
        border-width: 0px 0px 1px 0px;
        text-align: center;
        outline: none;
        &:focus {
            border-color: #2ecc71;
            border-width: 0px 0px 2px 0px;
        }
    }
    input[type=submit] {
        border-style: none;
        color: #2ecc71;
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.hidden {
    display: none;
}

.carousel {
    position: fixed;
    top: $hdr-size + 5px;
    bottom: 6px;
    left: 5px;
    right: 6px;
    overflow: hidden;

    .carousel-inner {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        .carousel-item {
            height: 100%;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

#empty-gallery {
    margin: auto;
    text-align: center;
    margin-top: 50vh; 
    transform: translateY(-200%);
}
