
@import "fonts.scss";

$hdr-size: 30px;
$hdr-size-big: 150px;
$margin: 5px;

body {
    margin: 0px;
    width: 100%;
    min-height: 1000px;
    font-family: London, serif;
    background-color: #FFFFF7;
}

h1 {
    color: white;
    font-size: 5em; 
    span {
        float: left;
        margin-left: 2px;
    }

    #t-p, #t-d {
        color: black;
    }
    #t-o {
        color: #e74c3c;
    }
    #t-l {
        color: #e67e22;
    }
    #t-a {
        color: #f39c12;
    }
    #t-r {
        color: #f1c40f;
    }
    #t-oo {
        color: #2ecc71;
    }
    #t-i {
        color: #3498db;
    }
}

body header {
    z-index: 10;
    #hdr-right {
        float: right;
        margin-right: 50px;
        font-size: 1.3em;
        a {
            margin-left: 30px;
            height: 100%;
            text-decoration: none;
            & span {
                -webkit-transition: -webkit-transform .15s linear;
                   -moz-transition: -moz-transform .15s linear;
                        transition: transform .15s linear;
            }
            &:hover span {
                -webkit-transform: scale(1.5);
                   -moz-transform: scale(1.5);
                        transform: scale(1.5);
            }
            &:first-child {
                &:hover {
                    color: #2ecc71;
                }
            }
            &:last-child {
                &:hover {
                    color: #3498db; 
                }
            }
        }
        #like {
            font-family: Love;
            color: white;
            &.liked, &:hover {
                color: #e74c3c;
            }
        }
        #remove {
            &.removing, &:hover {
                color: #f39c12; 
            }
        }
        #pin {
            &.pinning, &:hover {
                color: #2ecc71;
            }
        }
        #name {
            &.naming, &:hover {
                color: #34495e;
            }
        }
    }
}

body:not(.gallery) header {
    width: 100%;
    height: $hdr-size-big;
    #hdr-left {
        float: left;
        margin-left: 50px;
        height: $hdr-size-big;
        h1 {
            margin: 0px;
            line-height: $hdr-size-big;
            height: 100%;
        }

    }
    #hdr-right {
        margin-top: 40px;
        a {
            color: black;
        }
    }
}

body.gallery > header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: $hdr-size;
    background-color: rgba(55, 55, 55, 0.6);

    border-style: solid;
    border-width: 0px 0px 0px 0px;
   
    #hdr-left {
        position: absolute;
        z-index: 2;
        float: left;
        margin-left: 50px;
        height: $hdr-size;
        h1 {
            font-size: 1em;
            margin: 0px;
            height: 100%;
            line-height: $hdr-size;
            #t-p, #t-d {
                // color: white;
            }
        }
    }

    #hdr-center {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: $hdr-size;
        line-height: $hdr-size;
        text-align: center;
        color: white;

        input#naming {
			width: 300px;
            background-color: rgba(0,0,0,0);
            text-align: center;

    		border: none;
    		outline: none;

    		-webkit-box-shadow: none;
    		-moz-box-shadow: none;
    		box-shadow: none;
        }
    }

    #hdr-right {
        height: $hdr-size;
        a {
            font-size: 0.6em;
            color: white;
            line-height: $hdr-size;
        }
    }
}

a {
    text-decoration: none;
}

#gallery {
    margin-top: $margin + $hdr_size;
    padding-left: $margin;
    padding-right: $margin;
    margin-bottom: $margin;
}

img {
    float: left;
    margin: 2px;
}

#padding {
    display: inline-block;
    height: 0px;
    width: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
    overflow-y: hidden;
}

img.square {  
    object-fit: cover;
    margin: 0px;
}

#upload-form {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.dz-preview {
    display: none;
}

.love {
    color: #e74c3c;
}

.my-galleries, .liked-galleries {
    clear: left;
    font-size: 2em;
    padding-left: 60px;
    li:nth-child(6n + 2) > a {
        color: #e74c3c; 
    }
    li:nth-child(6n + 3) > a {
        color: #e67e22; 
    }
    li:nth-child(6n + 4) > a{
        color: #f39c12; 
    }
    li:nth-child(6n + 5) > a{
        color: #f1c40f; 
    }
    li:nth-child(6n + 6) > a{
        color: #2ecc71; 
    }
    li:nth-child(6n + 1) > a {
        color: #3498db; 
    }
    li.plus > a {
        color: black;
    }
    ul {
        display: block;
        li {
            padding-left: 0px;
            display: inline;
            a {
                background-color: white;
                display: inline;
                float: left;
                padding: 15px 15px 25px;
                width: auto;
                margin: 0 0 27px 30px;
                text-decoration: none;
                font-size: 0.5em;
                text-align: center;
                max-width: 200px;
                overflow: hidden;
                
                -webkit-transition: -webkit-transform .15s linear;
                   -moz-transition: -moz-transform .15s linear;
                        transition: transform .15s linear;
                -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
                   -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
                        box-shadow: 0 3px 6px rgba(0,0,0,.25);
                &:after {
                    content: attr(title);
                    display: block;
                }
                img {
                    display: block;
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    margin: 0px;
                    margin-bottom: 16px;
                    vertical-align: middle;
                    font-size: 10em;
                    line-height: 200px;
                    background-color: #E7E7E7;
                }
            }
        }
        li:nth-child(1n) a:hover {
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
                -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
                     box-shadow: 0 3px 6px rgba(0,0,0,.5);
            -webkit-transform: scale(1.25);
               -moz-transform: scale(1.25);
                    transform: scale(1.25);
            position: relative;
            z-index: 5;
        }
        li a {
            -webkit-transform: rotate(-2deg);
               -moz-transform: rotate(-2deg);
                    transform: rotate(-2deg);
        }
        li:nth-child(even) a {
            -webkit-transform: rotate(2deg);
               -moz-transform: rotate(2deg);
                    transform: rotate(2deg);
        }
        li:nth-child(3n) a {
            -webkit-transform: rotate(0deg);
               -moz-transform: rotate(0deg);
                    transform: rotate(0deg);
            position: relative;
            top: -5px;
        }
        li:nth-child(4n) a {
            -webkit-transform: rotate(5deg);
               -moz-transform: rotate(5deg);
                    transform: rotate(5deg);
            position: relative;
            right: 5px;
        }
    }
}

.my-galleries {
    padding-top: 70px;
}

.rm-container.removing a:hover {
    opacity: 0.4;
    background-color: #2ecc71;
    img {
        opacity: 0.4;
    }
}

    @-webkit-keyframes appear {
            0%, 50%, 100% {opacity: 1;}
            25%, 75% {opacity: 0;}
    }
    @keyframes appear {
            0%, 50%, 100% {opacity: 1;}
            25%, 75% {opacity: 0;}
    }

#alert {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    z-index: -1;
    opacity: 0;
    .alert-txt {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px; 
        right: 0px;
        height: 200px; 
        margin: auto;     
        font-size: 10em;
        text-align: center;
        color: white;
    }
    -webkit-transition: opacity 0.5s;
    &.active {
        opacity: 1;
    }
    &.pinned {
        z-index: 99;
        background-color: #2ecc71; 
        .alert-txt:before {
            content: "PINNED AS COVER!";
        }
    }
    &.named {
        z-index: 99;
        background-color: #34495e;
        .alert-txt:before {
            content: "GALLERY RENAMED!";
        }
    }
    &.removed {
        z-index: 99;
        background-color: rgb(243, 156, 18); 
        .alert-txt:before {
            content: "PICTURE REMOVED!";
        }
    }
    &.liked {
        z-index: 99;
        background-color: #e74c3c;
        .alert-txt:before {
            font-family: 'Glyphicons Halflings';
            content: "\e005 ";
        }
        .alert-txt:after {
            content: " IT!";
        }
    }
    &.unliked {
        z-index: 99;
        background-color: #e74c3c;
        .alert-txt:before {
            content: "UN-";
        }
        .alert-txt:after {
            font-family: 'Glyphicons Halflings';
            content: "\e005 ";
        }
    }
}
