@font-face {
  font-family: London;
  src: url("../../fonts/LondonBetween.ttf");
}
@font-face {
  font-family: Love;
  src: url("../../fonts/love.ttf");
}
/* line 8, ../../scss/style.scss */
body {
  margin: 0px;
  width: 100%;
  min-height: 1000px;
  font-family: London, serif;
  background-color: #FFFFF7;
}

/* line 16, ../../scss/style.scss */
h1 {
  color: white;
  font-size: 5em;
}
/* line 19, ../../scss/style.scss */
h1 span {
  float: left;
  margin-left: 2px;
}
/* line 24, ../../scss/style.scss */
h1 #t-p, h1 #t-d {
  color: black;
}
/* line 27, ../../scss/style.scss */
h1 #t-o {
  color: #e74c3c;
}
/* line 30, ../../scss/style.scss */
h1 #t-l {
  color: #e67e22;
}
/* line 33, ../../scss/style.scss */
h1 #t-a {
  color: #f39c12;
}
/* line 36, ../../scss/style.scss */
h1 #t-r {
  color: #f1c40f;
}
/* line 39, ../../scss/style.scss */
h1 #t-oo {
  color: #2ecc71;
}
/* line 42, ../../scss/style.scss */
h1 #t-i {
  color: #3498db;
}

/* line 47, ../../scss/style.scss */
body header {
  z-index: 10;
}
/* line 49, ../../scss/style.scss */
body header #hdr-right {
  float: right;
  margin-right: 50px;
  font-size: 1.3em;
}
/* line 53, ../../scss/style.scss */
body header #hdr-right a {
  margin-left: 30px;
  height: 100%;
  text-decoration: none;
}
/* line 57, ../../scss/style.scss */
body header #hdr-right a span {
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transition: -moz-transform .15s linear;
  transition: transform .15s linear;
}
/* line 62, ../../scss/style.scss */
body header #hdr-right a:hover span {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
/* line 68, ../../scss/style.scss */
body header #hdr-right a:first-child:hover {
  color: #2ecc71;
}
/* line 73, ../../scss/style.scss */
body header #hdr-right a:last-child:hover {
  color: #3498db;
}
/* line 78, ../../scss/style.scss */
body header #hdr-right #like {
  font-family: Love;
  color: white;
}
/* line 81, ../../scss/style.scss */
body header #hdr-right #like.liked, body header #hdr-right #like:hover {
  color: #e74c3c;
}
/* line 86, ../../scss/style.scss */
body header #hdr-right #remove.removing, body header #hdr-right #remove:hover {
  color: #f39c12;
}
/* line 91, ../../scss/style.scss */
body header #hdr-right #pin.pinning, body header #hdr-right #pin:hover {
  color: #2ecc71;
}
/* line 96, ../../scss/style.scss */
body header #hdr-right #name.naming, body header #hdr-right #name:hover {
  color: #34495e;
}

/* line 103, ../../scss/style.scss */
body:not(.gallery) header {
  width: 100%;
  height: 150px;
}
/* line 106, ../../scss/style.scss */
body:not(.gallery) header #hdr-left {
  float: left;
  margin-left: 50px;
  height: 150px;
}
/* line 110, ../../scss/style.scss */
body:not(.gallery) header #hdr-left h1 {
  margin: 0px;
  line-height: 150px;
  height: 100%;
}
/* line 117, ../../scss/style.scss */
body:not(.gallery) header #hdr-right {
  margin-top: 40px;
}
/* line 119, ../../scss/style.scss */
body:not(.gallery) header #hdr-right a {
  color: black;
}

/* line 125, ../../scss/style.scss */
body.gallery > header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  background-color: rgba(55, 55, 55, 0.6);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}
/* line 136, ../../scss/style.scss */
body.gallery > header #hdr-left {
  position: absolute;
  z-index: 2;
  float: left;
  margin-left: 50px;
  height: 30px;
}
/* line 142, ../../scss/style.scss */
body.gallery > header #hdr-left h1 {
  font-size: 1em;
  margin: 0px;
  height: 100%;
  line-height: 30px;
}
/* line 153, ../../scss/style.scss */
body.gallery > header #hdr-center {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}
/* line 163, ../../scss/style.scss */
body.gallery > header #hdr-center input#naming {
  width: 300px;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 177, ../../scss/style.scss */
body.gallery > header #hdr-right {
  height: 30px;
}
/* line 179, ../../scss/style.scss */
body.gallery > header #hdr-right a {
  font-size: 0.6em;
  color: white;
  line-height: 30px;
}

/* line 187, ../../scss/style.scss */
a {
  text-decoration: none;
}

/* line 191, ../../scss/style.scss */
#gallery {
  width: 100%;
  margin-top: 32px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 2px;
}

/* line 199, ../../scss/style.scss */
img {
  float: left;
  margin-left: 3px;
  margin-bottom: 3px;
}

/* line 205, ../../scss/style.scss */
#padding {
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-left: 3px;
  margin-bottom: 3px;
  overflow-y: hidden;
}

/* line 214, ../../scss/style.scss */
img.square {
  object-fit: cover;
  margin: 0px;
}

/* line 219, ../../scss/style.scss */
#upload-form {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 227, ../../scss/style.scss */
.dz-preview {
  display: none;
}

/* line 231, ../../scss/style.scss */
.love {
  color: #e74c3c;
}

/* line 235, ../../scss/style.scss */
.my-galleries, .liked-galleries {
  clear: left;
  font-size: 2em;
  padding-left: 60px;
}
/* line 239, ../../scss/style.scss */
.my-galleries li:nth-child(6n + 2) > a, .liked-galleries li:nth-child(6n + 2) > a {
  color: #e74c3c;
}
/* line 242, ../../scss/style.scss */
.my-galleries li:nth-child(6n + 3) > a, .liked-galleries li:nth-child(6n + 3) > a {
  color: #e67e22;
}
/* line 245, ../../scss/style.scss */
.my-galleries li:nth-child(6n + 4) > a, .liked-galleries li:nth-child(6n + 4) > a {
  color: #f39c12;
}
/* line 248, ../../scss/style.scss */
.my-galleries li:nth-child(6n + 5) > a, .liked-galleries li:nth-child(6n + 5) > a {
  color: #f1c40f;
}
/* line 251, ../../scss/style.scss */
.my-galleries li:nth-child(6n + 6) > a, .liked-galleries li:nth-child(6n + 6) > a {
  color: #2ecc71;
}
/* line 254, ../../scss/style.scss */
.my-galleries li:nth-child(6n + 1) > a, .liked-galleries li:nth-child(6n + 1) > a {
  color: #3498db;
}
/* line 257, ../../scss/style.scss */
.my-galleries li.plus > a, .liked-galleries li.plus > a {
  color: black;
}
/* line 260, ../../scss/style.scss */
.my-galleries ul, .liked-galleries ul {
  display: block;
}
/* line 262, ../../scss/style.scss */
.my-galleries ul li, .liked-galleries ul li {
  padding-left: 0px;
  display: inline;
}
/* line 265, ../../scss/style.scss */
.my-galleries ul li a, .liked-galleries ul li a {
  background-color: white;
  display: inline;
  float: left;
  padding: 15px 15px 25px;
  width: auto;
  margin: 0 0 27px 30px;
  text-decoration: none;
  font-size: 0.5em;
  text-align: center;
  max-width: 200px;
  overflow: hidden;
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transition: -moz-transform .15s linear;
  transition: transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
/* line 284, ../../scss/style.scss */
.my-galleries ul li a:after, .liked-galleries ul li a:after {
  content: attr(title);
  display: block;
}
/* line 288, ../../scss/style.scss */
.my-galleries ul li a img, .liked-galleries ul li a img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0px;
  margin-bottom: 16px;
  vertical-align: middle;
  font-size: 10em;
  line-height: 200px;
  background-color: #E7E7E7;
}
/* line 302, ../../scss/style.scss */
.my-galleries ul li:nth-child(1n) a:hover, .liked-galleries ul li:nth-child(1n) a:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}
/* line 312, ../../scss/style.scss */
.my-galleries ul li a, .liked-galleries ul li a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
/* line 317, ../../scss/style.scss */
.my-galleries ul li:nth-child(even) a, .liked-galleries ul li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
}
/* line 322, ../../scss/style.scss */
.my-galleries ul li:nth-child(3n) a, .liked-galleries ul li:nth-child(3n) a {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  top: -5px;
}
/* line 329, ../../scss/style.scss */
.my-galleries ul li:nth-child(4n) a, .liked-galleries ul li:nth-child(4n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* line 339, ../../scss/style.scss */
.my-galleries {
  padding-top: 70px;
}

/* line 343, ../../scss/style.scss */
.rm-container.removing a:hover {
  opacity: 0.4;
  background-color: #2ecc71;
}
/* line 346, ../../scss/style.scss */
.rm-container.removing a:hover img {
  opacity: 0.4;
}

@-webkit-keyframes appear {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes appear {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
/* line 360, ../../scss/style.scss */
#alert {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
}
/* line 368, ../../scss/style.scss */
#alert .alert-txt {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
  margin: auto;
  font-size: 10em;
  text-align: center;
  color: white;
}
/* line 381, ../../scss/style.scss */
#alert.active {
  opacity: 1;
}
/* line 384, ../../scss/style.scss */
#alert.pinned {
  z-index: 99;
  background-color: #2ecc71;
}
/* line 387, ../../scss/style.scss */
#alert.pinned .alert-txt:before {
  content: "PINNED AS COVER!";
}
/* line 391, ../../scss/style.scss */
#alert.named {
  z-index: 99;
  background-color: #34495e;
}
/* line 394, ../../scss/style.scss */
#alert.named .alert-txt:before {
  content: "GALLERY RENAMED!";
}
/* line 398, ../../scss/style.scss */
#alert.removed {
  z-index: 99;
  background-color: #f39c12;
}
/* line 401, ../../scss/style.scss */
#alert.removed .alert-txt:before {
  content: "PICTURE REMOVED!";
}
/* line 405, ../../scss/style.scss */
#alert.liked {
  z-index: 99;
  background-color: #e74c3c;
}
/* line 408, ../../scss/style.scss */
#alert.liked .alert-txt:before {
  font-family: 'Glyphicons Halflings';
  content: "\e005 ";
}
/* line 412, ../../scss/style.scss */
#alert.liked .alert-txt:after {
  content: " IT!";
}
/* line 416, ../../scss/style.scss */
#alert.unliked {
  z-index: 99;
  background-color: #e74c3c;
}
/* line 419, ../../scss/style.scss */
#alert.unliked .alert-txt:before {
  content: "UN-";
}
/* line 422, ../../scss/style.scss */
#alert.unliked .alert-txt:after {
  font-family: 'Glyphicons Halflings';
  content: "\e005 ";
}
