@font-face {
  font-family: London;
  src: url("../../fonts/LondonBetween.ttf");
}
@font-face {
  font-family: Love;
  src: url("../../fonts/love.ttf");
}
/* line 9, ../../scss/style.scss */
a {
  color: #2ecc71;
}

/* line 13, ../../scss/style.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 18, ../../scss/style.scss */
body {
  margin: 0px;
  width: 100%;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue";
}

/* line 25, ../../scss/style.scss */
h1 {
  font-family: London, serif;
  color: white;
  font-size: 3.5em;
}
/* line 29, ../../scss/style.scss */
h1 span {
  margin: -2px;
}
/* line 32, ../../scss/style.scss */
h1 #t-p, h1 #t-d {
  color: black;
}
/* line 35, ../../scss/style.scss */
h1 #t-o {
  color: #e74c3c;
}
/* line 38, ../../scss/style.scss */
h1 #t-l {
  color: #e67e22;
}
/* line 41, ../../scss/style.scss */
h1 #t-a {
  color: #f39c12;
}
/* line 44, ../../scss/style.scss */
h1 #t-r {
  color: #f1c40f;
}
/* line 47, ../../scss/style.scss */
h1 #t-oo {
  color: #2ecc71;
}
/* line 50, ../../scss/style.scss */
h1 #t-i {
  color: #3498db;
}

/* line 56, ../../scss/style.scss */
body:not(.gallery) h1 span {
  margin: -7px;
}

/* line 61, ../../scss/style.scss */
body header {
  z-index: 10;
}
/* line 63, ../../scss/style.scss */
body header #hdr-right {
  font-size: 1.3em;
}
/* line 65, ../../scss/style.scss */
body header #hdr-right a {
  margin-left: 30px;
  height: 100%;
  text-decoration: none;
}
/* line 70, ../../scss/style.scss */
body header #hdr-right #like {
  font-family: Love;
  color: white;
}
/* line 73, ../../scss/style.scss */
body header #hdr-right #like.liked, body header #hdr-right #like:hover {
  color: #e74c3c;
}
/* line 78, ../../scss/style.scss */
body header #hdr-right #crop.cropping, body header #hdr-right #crop:hover {
  color: #8e44ad;
}
/* line 83, ../../scss/style.scss */
body header #hdr-right #remove.removing, body header #hdr-right #remove:hover {
  color: #f39c12;
}
/* line 88, ../../scss/style.scss */
body header #hdr-right #pin.pinning, body header #hdr-right #pin:hover {
  color: #2ecc71;
}
/* line 93, ../../scss/style.scss */
body header #hdr-right #name.naming, body header #hdr-right #name:hover {
  color: #34495e;
}

/* line 100, ../../scss/style.scss */
body:not(.gallery) header {
  height: 120px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-left: 5%;
  margin-right: 5%;
}
/* line 108, ../../scss/style.scss */
body:not(.gallery) header #hdr-left {
  position: absolute;
  float: left;
  margin-left: 50px;
}
/* line 114, ../../scss/style.scss */
body:not(.gallery) header #hdr-center {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  text-align: center;
}
/* line 120, ../../scss/style.scss */
body:not(.gallery) header #hdr-center h1 {
  line-height: 120px;
}
/* line 126, ../../scss/style.scss */
body:not(.gallery) header #hdr-right {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
}
/* line 131, ../../scss/style.scss */
body:not(.gallery) header #hdr-right a {
  font-size: 0.6em;
}

/* line 153, ../../scss/style.scss */
body:not(.gallery) section {
  width: 90%;
  margin: auto;
  margin-top: 120px;
}

/* line 159, ../../scss/style.scss */
body.gallery > header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  background-color: rgba(55, 55, 55, 0.6);
  font-family: "London";
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}
/* line 171, ../../scss/style.scss */
body.gallery > header #hdr-left {
  position: absolute;
  z-index: 2;
  float: left;
  margin-left: 50px;
  height: 30px;
}
/* line 177, ../../scss/style.scss */
body.gallery > header #hdr-left h1 {
  font-size: 1em;
  margin: 0px;
  height: 100%;
  line-height: 30px;
}
/* line 188, ../../scss/style.scss */
body.gallery > header #hdr-center {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}
/* line 198, ../../scss/style.scss */
body.gallery > header #hdr-center input#naming {
  color: white;
  font-size: 0.9em;
  width: 300px;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 214, ../../scss/style.scss */
body.gallery > header #hdr-right {
  position: absolute;
  right: 0px;
  margin-right: 50px;
  height: 30px;
}
/* line 219, ../../scss/style.scss */
body.gallery > header #hdr-right a {
  font-size: 0.6em;
  color: white;
  line-height: 30px;
}

/* line 227, ../../scss/style.scss */
#gallery {
  margin-top: 35px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

/* line 234, ../../scss/style.scss */
img {
  float: left;
  margin: 2px;
}

/* line 239, ../../scss/style.scss */
#padding {
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-left: 3px;
  margin-bottom: 3px;
  overflow-y: hidden;
}

/* line 248, ../../scss/style.scss */
img.square {
  object-fit: cover;
  margin: 0px;
}

/* line 253, ../../scss/style.scss */
#upload-form {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 261, ../../scss/style.scss */
.dz-preview {
  display: none;
}

/* line 265, ../../scss/style.scss */
.love {
  color: #e74c3c;
}

/* line 269, ../../scss/style.scss */
h2 {
  color: #404040;
}

/* line 273, ../../scss/style.scss */
.my-galleries, .liked-galleries {
  display: block;
  margin-bottom: 50px;
  min-height: 200px;
}
/* line 277, ../../scss/style.scss */
.my-galleries > div, .liked-galleries > div {
  display: block;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 282, ../../scss/style.scss */
.my-galleries > div a, .liked-galleries > div a {
  float: left;
  text-decoration: none;
  text-align: center;
}
/* line 288, ../../scss/style.scss */
.my-galleries a.plus, .liked-galleries a.plus {
  color: black;
}
/* line 291, ../../scss/style.scss */
.my-galleries img, .my-galleries .plus, .liked-galleries img, .liked-galleries .plus {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  margin: 10px;
  vertical-align: middle;
  font-size: 4em;
  line-height: 85px;
  background-color: #e9ecef;
}
/* line 302, ../../scss/style.scss */
.my-galleries img:hover, .my-galleries .plus:hover, .liked-galleries img:hover, .liked-galleries .plus:hover {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

/* line 310, ../../scss/style.scss */
.rm-container.removing a:hover {
  opacity: 0.4;
  background-color: #2ecc71;
}
/* line 313, ../../scss/style.scss */
.rm-container.removing a:hover img {
  opacity: 0.4;
}

@-webkit-keyframes appear {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes appear {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
/* line 327, ../../scss/style.scss */
#alert {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
}
/* line 335, ../../scss/style.scss */
#alert .alert-txt {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
  margin: auto;
  font-size: 10em;
  text-align: center;
  color: white;
}
/* line 348, ../../scss/style.scss */
#alert.active {
  opacity: 1;
}
/* line 351, ../../scss/style.scss */
#alert.pinned {
  z-index: 99;
  background-color: #2ecc71;
}
/* line 354, ../../scss/style.scss */
#alert.pinned .alert-txt:before {
  content: "PINNED AS COVER!";
}
/* line 358, ../../scss/style.scss */
#alert.cropped {
  z-index: 99;
  background-color: #8e44ad;
}
/* line 361, ../../scss/style.scss */
#alert.cropped .alert-txt:before {
  content: "PICTURE CROPPED";
}
/* line 365, ../../scss/style.scss */
#alert.named {
  z-index: 99;
  background-color: #34495e;
}
/* line 368, ../../scss/style.scss */
#alert.named .alert-txt:before {
  content: "GALLERY RENAMED!";
}
/* line 372, ../../scss/style.scss */
#alert.removed {
  z-index: 99;
  background-color: #f39c12;
}
/* line 375, ../../scss/style.scss */
#alert.removed .alert-txt:before {
  content: "PICTURE REMOVED!";
}
/* line 379, ../../scss/style.scss */
#alert.liked {
  z-index: 99;
  background-color: #e74c3c;
}
/* line 382, ../../scss/style.scss */
#alert.liked .alert-txt:before {
  font-family: 'Icons';
  content: "\e077";
}
/* line 386, ../../scss/style.scss */
#alert.liked .alert-txt:after {
  content: " IT!";
}
/* line 390, ../../scss/style.scss */
#alert.unliked {
  z-index: 99;
  background-color: #e74c3c;
}
/* line 393, ../../scss/style.scss */
#alert.unliked .alert-txt:before {
  content: "UN-";
}
/* line 396, ../../scss/style.scss */
#alert.unliked .alert-txt:after {
  font-family: 'Icons';
  content: "\e077";
}

/* line 403, ../../scss/style.scss */
body footer {
  position: absolute;
  height: 30px;
  bottom: 0px;
  left: 5%;
  right: 5%;
  text-align: right;
  font-size: 0.8em;
}
/* line 411, ../../scss/style.scss */
body footer a {
  margin-left: 30px;
}

/* line 416, ../../scss/style.scss */
body.gallery footer {
  display: none;
}

/* line 420, ../../scss/style.scss */
form {
  text-align: center;
}
/* line 422, ../../scss/style.scss */
form input {
  margin-top: 10px;
  width: 300px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  text-align: center;
  outline: none;
}
/* line 431, ../../scss/style.scss */
form input:focus {
  border-color: #2ecc71;
  border-width: 0px 0px 2px 0px;
}
/* line 436, ../../scss/style.scss */
form input[type=submit] {
  border-style: none;
  color: #2ecc71;
}
/* line 439, ../../scss/style.scss */
form input[type=submit]:hover {
  cursor: pointer;
  color: black;
}

/* line 446, ../../scss/style.scss */
.hidden {
  display: none;
}

/* line 450, ../../scss/style.scss */
.carousel {
  position: fixed;
  top: 35px;
  bottom: 6px;
  left: 5px;
  right: 6px;
  overflow: hidden;
}
/* line 458, ../../scss/style.scss */
.carousel .carousel-inner {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
/* line 464, ../../scss/style.scss */
.carousel .carousel-inner .carousel-item {
  height: 100%;
}
/* line 467, ../../scss/style.scss */
.carousel .carousel-inner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
