{% extends "base.html" %}

{% block bodyclass %}no-hdr{% endblock %}

{% block content %}
    
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">register</li>
      </ol>
    </nav>

    <div>
        <form action="{% url "register" %}" method="post" class="" id="reg-form">
            {% csrf_token %}
            <p>
                <input id="id-username" name="username" placeholder="username" type="text" />
            </p>
            <p>
                <input id="id-password1" name="password1" placeholder="password" type="password" />
            </p>
            <p>
                <input id="id-password2" name="password2" placeholder="password (confirmation)" type="password" />
            </p>
            <input type="submit" />
        </form>
    <div>

{% endblock %}
